<h1>Extracting and Visualizing Stock Data</h1>

In [1]:
#!pip install yfinance
#!pip install pandas
#!pip install requests
#!pip install bs4
#!pip install plotly

In [2]:
import pandas as pd
import yfinance as yf
import numpy as np
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
%matplotlib inline

## Question 1: Use yfinance to Extract Tesla Stock Data

In [3]:
tesla = yf.Ticker("TSLA")

In [4]:
tesla_data = tesla.history(period="max")

In [5]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

In [6]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

In [7]:
html_data = requests.get(url).text

In [8]:
soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')

In [9]:
tesla_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])

for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")
    
    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

In [10]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [11]:
tesla_revenue.tail()

          Date Revenue
46  2010-09-30      31
47  2010-06-30      28
48  2010-03-31      21
50  2009-09-30      46
51  2009-06-30      27

## Question 3: Use yfinance to Extract GME Stock Data

In [12]:
gamestop = yf.Ticker("GME")

In [13]:
gamestop_data = gamestop.history(period="max")

In [14]:
gamestop_data.reset_index(inplace=True)
gamestop_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480514,6.773400,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850829,6.864295,6.682504,6.733002,2755400,0.0,0.0
2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

In [15]:
url1 = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

In [16]:
html_data = requests.get(url1).text

In [17]:
soup = BeautifulSoup(html_data, "html.parser")
soup.find_all('title')

In [18]:
gme_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('GameStop Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')
        
        for row in rows:
            col = row.find_all('td')
            
            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                gme_revenue = gme_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

In [19]:
gme_revenue.tail()

          Date Revenue
49  2010-01-31    3524
50  2009-10-31    1835
51  2009-07-31    1739
52  2009-04-30    1981
53  2009-01-31    3492